<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Happy</title>
</head>
<body>
{{> header}}
<h1>Happy page!</h1>
<p>Here some cute cat :)</p>
<img src="https://pbs.twimg.com/profile_images/602729491916435458/hSu0UjMC.jpg" alt="">
{{> footer}}
</body>
</html>